<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    
    <!-- Include Bootstrap CSS (if you are using Bootstrap) -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Edit Recipe</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Recipe Title -->
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ form.instance.title }}" required>
            </div>

            <!-- Recipe Category -->
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" id="category" name="category" required>
                    <option value="" disabled>Select a category</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == form.instance.category.id %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Recipe Ingredients -->
            <div class="mb-3">
                <label for="ingredients" class="form-label">Ingredients</label>
                <textarea class="form-control" id="ingredients" name="ingredients" rows="4" required>{{ form.instance.ingredients }}</textarea>
            </div>

            <!-- Recipe Instructions -->
            <div class="mb-3">
                <label for="instructions" class="form-label">Instructions</label>
                <textarea class="form-control" id="instructions" name="instructions" rows="6" required>{{ form.instance.instructions }}</textarea>
            </div>

            <!-- Recipe Image -->
            <div class="mb-3">
                <label for="image" class="form-label">Image (optional)</label>
                <input type="file" class="form-control" id="image" name="image">
                {% if not form.instance.image %}
                    <small class="form-text text-muted">No file chosen</small>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Update Recipe</button>
            <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteRecipeModal">
                Delete Recipe
            </button> -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete Recipe
              </button>
            <a href="{% url 'recipe_list' %}" class="btn btn-secondary">Cancel</a>

        </form>
    </div>
    <!-- Delete Recipe Modal -->
    <!-- <div class="modal fade" id="deleteRecipeModal" tabindex="-1" aria-labelledby="deleteRecipeModalLabel" aria-hidden="true"> -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteRecipeModalLabel">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this recipe?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="POST" action="{% url 'recipe_delete' recipe.id %}">
                        {% csrf_token %}<input type="submit" value="Delete">
                     </form>
                    <!-- <a href="{% url 'recipe_delete' recipe.id %}" class="btn btn-danger">Delete</a> -->
                </div>
            </div>
        </div>
    </div>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
    ></script>
</body>
</html>