<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Recipe</title>

        <!-- Include Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container mt-5">
            <h1 class="text-center mb-4">Add Recipe</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input
                        type="text"
                        class="form-control"
                        id="title"
                        name="title"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select
                        class="form-select"
                        id="category"
                        name="category"
                        required
                    >
                        <option value="" disabled selected>
                            Select a category
                        </option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">
                            {{ category.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="ingredients" class="form-label"
                        >Ingredients</label
                    >
                    <textarea
                        class="form-control"
                        id="ingredients"
                        name="ingredients"
                        rows="4"
                        required
                    ></textarea>
                </div>
                <div class="mb-3">
                    <label for="instructions" class="form-label"
                        >Instructions</label
                    >
                    <textarea
                        class="form-control"
                        id="instructions"
                        name="instructions"
                        rows="6"
                        required
                    ></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label"
                        >Image (optional)</label
                    >
                    <input
                        type="file"
                        class="form-control"
                        id="image"
                        name="image"
                    />
                </div>
                <button type="submit" class="btn btn-primary">
                    Add Recipe
                </button>
                <button
                    type="button"
                    onclick="location.href='{% url 'recipe_list' %}'"
                    class="btn btn-outline-danger"
                >
                    Cancel
                </button>
            </form>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
