<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Recipe List</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap"
            rel="stylesheet"
        />
        <style>
            .heading-font {
                font-family: "Oswald", sans-serif;
                font-size: 4.5rem;
                color: brown;
            }
            .filter-wrapper, .select-wrapper{
                display:flex;
                align-items:center;
            }
            .filter-wrapper label{
                display:block;
                width:140px;
            }
            .filter-wrapper select{
                display:block;
                width:400px;
                margin-right:8px;
            }
        </style>
    </head>
    <body class="bg-light">
        <div class="container mt-5 bg-light">
            <h1 class="text-center mb-4 heading-font">Recipe List</h1>
            <a href="{% url 'recipe_add' %}" class="btn btn-primary mb-4"
                >Add Recipe</a
            >
            <form method="get" class="mb-3 filter-wrapper">
                <div class="form-group select-wrapper">
                    <label for="category">Filter by Category</label>
                    <select id="category" name="category" class="form-control" >
                        <option value="" {% if not category_id %}selected{% endif %}>All</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if category_id == category.id|stringformat:"s" %}selected{% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form> 
            <div class="row">
                {% for recipe in recipes %}
                <div class="col-md-6 mb-4">
                    <div class="card p-3 border">
                        {% if recipe.image %}
                        <img
                            src="{{ recipe.image.url }}"
                            alt="{{ recipe.title }}"
                            class="card-img-top"
                            style="
                                max-height: 200px;
                                object-fit: cover;
                                border-radius: 8px;
                            "
                        />
                        {% endif %}
                        <div class="card-body">
                            <h2 class="card-title">{{ recipe.title }}</h2>
                            <p
                                class="card-text text-truncate"
                                style="max-height: 2.4em"
                            >
                                {{ recipe.ingredients }}
                            </p>
                            <p
                                class="card-text text-ellipsis"
                                style="
                                    max-height: 3.2em;
                                    overflow: hidden;
                                    max-width: 100%;
                                    text-overflow: ellipsis;
                                "
                            >
                                {{ recipe.instructions }}
                            </p>
                            <div
                                class="d-flex justify-content-between align-items-center"
                            >
                                <a
                                    href="{% url 'recipe_detail' recipe.pk %}"
                                    class="btn btn-primary"
                                    >View</a
                                >
                                <div>
                                    <a
                                        href="{% url 'recipe_edit' recipe.pk %}"
                                        class="btn btn-warning mx-2"
                                        >Edit</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
                {% endif %} {% empty %}
                <div class="col">
                    <p class="text-center">No recipes available.</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
