<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ recipe.title }}</title>
        <!-- Include Bootstrap CSS and custom CSS if needed -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{ recipe.title }}</h1>
                    <p><strong>Category:</strong> {{ recipe.category.name }}</p>
                    <p><strong>Ingredients:</strong></p>
                    <p>{{ recipe.ingredients }}</p>
                    <p><strong>Instructions:</strong></p>
                    <p>{{ recipe.instructions }}</p>
                </div>
                <div class="col-md-6">
                    {% if recipe.image %}
                    <img
                        src="{{ recipe.image.url }}"
                        style="border-radius: 8px"
                        alt="{{ recipe.title }}"
                        class="img-fluid"
                    />
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Include Bootstrap JS and custom JS if needed -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
