body {
}

.bg-image-container {
    width: 100%;
    height: 100vh;
    position: relative;
}
.bg-image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg-image-container h1 {
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-size: 64px;
    top: 50%;
    right: 15%;
    letter-spacing: 0.6rem;
}
.bg-image-container a {
    background: grey;
    padding: 12px;
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-size: 26px;
    bottom: 10%;
    right: 5%;
    border-radius: 8px;
    border: 1px solid grey;
    letter-spacing: 0.1rem;
}
.bg-image-container a:hover {
    background: #581e15;
    border: 1px solid white;
    /* padding: 12px;
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-size: 26px;
    bottom: 10%;
    right: 5%;
    border-radius: 8px;
    border: 1px solid grey;
    letter-spacing: 0.1rem; */
}
